@font-face {
    font-family:pambata;
    src: url(../../resources/fonts/Chicle-Regular.ttf);
  }
 @font-face {
    font-family:pambata1;
    src: url(../../resources/fonts/BackToSchool.ttf);
  } 
  @font-face {
    font-family:pambata2;
    src: url(../../resources/fonts/OhWhale.otf);
  }
.upper-part{ 
    padding-top: 0px ;
    padding-bottom: 0px  ;
    border: 0px solid black;
    width:100%; 
    height:54px;

}

.mustard { 
    background-color: #FFDB58;


}

.dropdown-menu { 
  background-color: #FFDB58;


}
.youtube-icon {
  float: right;
  padding-right: 150px;
}

.logo-caes{
  padding-left: 150px;
}

@media screen and (max-width: 700px) {
  .youtube-icon {
    float: right;
    padding-right: 10px;
  }
  .logo-caes{
    padding-left: 35px;
  }
  .col-6{
  width:100%;
}
}


logo-caes